@model MovieAndCategoryVM

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span>@TempData["Success"]</span>
    </div>
}
<table class="movie-table">
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td colspan="4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@movie.OrjınalFılmAdı</h5>
                            <p class="card-text">Film Adı: @movie.FılmAdı</p>
                            <p class="card-text">Release Year: @movie.YapımYılı</p>
                            <a href="/details/@movie.Id" class="btn btn-primary">Detayları Gör</a>
                            <button class="btn btn-success" onclick="addToCart('@movie.Id')">Listene Ekle</button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function addToCart(movieId) {
    

        alert('Film Listene eklendi! Film ID: ' + movieId);
    }
</script>